ul {
    list-style: none;
    margin-top: 7%;
    padding: 0;
}
#main {
    width: 100%;
    li {
    display: flex;
    padding: 1%;
    border-radius: 25px;
    
    background-color: rgb(255, 255, 255);
    color: black;
    justify-content: space-between;
    margin-top: 1%;
    font-size: 1.7rem;
    #todo{
        width: 80%;
    }
    span {
        margin-inline: 2%;
        i {
            font-size: 1.3rem;
            color: rgb(255, 162, 32);
        }
    }
    }
    #btn-remove {
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: none;
        height: 30px;
        font-size: 1.5rem;
        padding: 4px;
        border-radius: 3px;
        margin-inline: 3px;
    }
    #btn-check {
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: none;
        height: 30px;
        font-size: 1.5rem;
        padding: 4px;
        border-radius: 3px;
        margin-inline: 3px;
    }
}