<div id="main">
  <h1>Completed task</h1>
  <h1 *ngIf="delay === false">Loading task...</h1>
  <h2 *ngIf="taskChecked.length === 0 && delay === true">
    No tasks completed yet! <br />
    You still have a lot of work to do...
  </h2>
  <ul *ngIf="delay === true">
    <li *ngFor="let task of taskChecked; let i = index">
      <div>
        <span><i class="bi bi-caret-right-fill"></i></span
        ><span>{{task.title}}</span>
      </div>
      <button (click)="onUndo(task)">
        <i class="bi bi-arrow-return-left"></i>
      </button>
    </li>
  </ul>
</div>
