ul {
    list-style: none;
    
    padding: 0;
}
#main {
    
    h1 {
        margin-inline: auto;
    }
    h2{
        text-align: center;
    }
    li {
    display: flex;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
    width: 80%;
    margin-inline: auto;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    justify-content: space-between;
    font-size: 1.7rem;
    span {
        margin-inline: 2%;
        i{
            color: rgb(255, 162, 32);
        }
    }
    button {
        border: none;
        background-color: transparent;
        i {
            font-size: 1.5rem;
            margin-right: 25px;
        }
    }
    }
}
#main {
    background-color: rgb(40, 45, 47);
    color: white;
    width: 50%;
    margin-inline: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 70vh;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 5px #000000;
    
    div {
        width: 80%;
        margin-inline: auto;
    }
}